<main class="container">
  <div class="header">
    <h1>Calculadora de Sub-redes</h1>
    <p>Projeto de Redes de Computadores</p>
  </div>

  <div class="card form-card">
    <div class="input-group">
      <label>Endereço IP</label>
      <input type="text" [(ngModel)]="ipDigitado" placeholder="Ex: 192.168.1.10">
    </div>

    <div class="input-group">
      <label>Máscara Decimal ou CIDR</label>
      <input type="text" [(ngModel)]="mascaraDigitada" placeholder="Ex: 255.255.255.0 ou 24">
    </div>

    <button class="btn-primary" (click)="calcularRede()">Calcular Rede</button>

    <p *ngIf="erroMsg" class="error-msg">
      <span class="icon">⚠️</span> {{ erroMsg }}
    </p>
  </div>

  <div *ngIf="resultadoDaAPI" class="card result-card">
    <h2>Resultados da Análise</h2>

    <div class="result-grid">
      <div class="result-item">
        <span class="label">IP Analisado</span>
        <span class="value">{{ resultadoDaAPI.ipInformado }}</span>
      </div>
      <div class="result-item">
        <span class="label">Classe do IP</span>
        <span class="value">{{ resultadoDaAPI.classeIp }}</span>
      </div>
      <div class="result-item highlight-box">
        <span class="label">Máscara de Sub-rede</span>
        <span class="value">{{ resultadoDaAPI.mascaraSubrede }}</span>
      </div>
      <div class="result-item highlight-box">
        <span class="label">Prefixo CIDR</span>
        <span class="value cidr-badge">{{ resultadoDaAPI.prefixoCidr }}</span>
      </div>
    </div>

    <div class="divider"></div>

    <div class="result-grid">
      <div class="result-item">
        <span class="label">Endereço da Rede</span>
        <span class="value text-blue">{{ resultadoDaAPI.enderecoRede }}</span>
      </div>
      <div class="result-item">
        <span class="label">Endereço de Broadcast</span>
        <span class="value text-red">{{ resultadoDaAPI.enderecoBroadcast }}</span>
      </div>
    </div>

    <div class="divider"></div>

    <div class="result-grid">
      <div class="result-item">
        <span class="label">Primeiro Host</span>
        <span class="value">{{ resultadoDaAPI.primeiroIpValido }}</span>
      </div>
      <div class="result-item">
        <span class="label">Último Host</span>
        <span class="value">{{ resultadoDaAPI.ultimoIpValido }}</span>
      </div>
      <div class="result-item full-width">
        <span class="label">Total de Hosts Disponíveis</span>
        <span class="value highlight-text">{{ resultadoDaAPI.quantidadeHosts }}</span>
      </div>
    </div>
  </div>
</main>
